.app-menu-button {
    display: flex;
    align-items: center;
    width: 30px;
    height: 40px;
    justify-content: center;
    position: absolute;
    padding: 0 5px;
    background: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#menu-button {
    width: 20px;
    height: 20px;
}