html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
}

#game-scene {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
  position: relative;
  overflow: hidden;/*tot ce e in afara game-scene este ascuns*/
}

#life-stock {
  display: flex;
  justify-content: center;
  align-items: center;
}
#life-div {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.heart {
  width: 30px;
  height: 30px;
}
