html, 
body {
    height: 100%;
    width:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home-page { 
    display: flex;
    flex-direction: column;
} 

.header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    justify-content: flex-end;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout {
    margin-right: 20px;
}
/*----------Style for login page------------*/

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    display: flex;
    align-items: center;
}

.field p {
    width: 100px;
}

