body {
      background-color: lightgray;
}

#navbar {
      position: relative;
      width:100%;
      display: flex;
      background-color:#6b6b6b ;
}

img {
      /* position:absolute; */
      height:50px;
      width: 50px;
      padding-left:20px;
      padding-top:3px;

}

h3 { padding-left: 50px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
}

#my-form {
     
}
input {
      height: 20px;
}

#add-item {
      height: 30px;
      width:30px;
      cursor: pointer;
}

#add-item:focus {
      border: none;
      background-color: light;
}