body {
    display: flex;
    flex-direction: column;
}


#generate-starship {
    display: block;
   width: 150px;
}

.starship {
    height: 50px;
    width: 50px;
    display: block;
    margin: 10px;
    padding: 10px;
}

