.app-menu-flyout {
    background-color: white;
    border-bottom: 1px grey;
    border-radius: 5px;
    border-right: 1px grey;
    display: none;
    left: 0px;
    position: relative;
    top: 0px;
    width: 50px;
}

.app-menu-flyout--hover {
    background-color: white;
    border-bottom: 1px grey;
    border-radius: 5px;
    border-right: 1px grey;
    /* display: inline-block; */
    left: 0px;
    position: relative;
    top: 0px;
    width: 50px;
}